In [1]:
import Pynomic as pp
import re

In [2]:
name = '20240919_loc'
if (re.search('_', name)):
    print(name.split("_")[0])

20240919

In [3]:
print(re.search(r'_', name))

<re.Match object; span=(8, 9), match='_'>

In [4]:
flight_folder = '/home/juan/Desktop/pynomic_project/Pynomic/add_on/flights'
flight_path = '/home/juan/Desktop/pynomic_project/Pynomics/add_on/flights/20180917_Lamberton_GCP_transparent_mosaic.tif'
grid_path = '/home/juan/Desktop/pynomic_project/Pynomic/add_on/Grids/Labmert_test_grid.geojson'

In [5]:
vuelos = pp.process_stack_tiff(flight_folder, grid_path, bands_n = ['red','green', 'blue'])

1/7 : 20180815_Lamberton_GCP_transparent_mosaic.tif
Raster Coords system: EPSG:32615
Grid Coords system: urn:ogc:def:crs:EPSG::32615
2/7 : 20180917_Lamberton_GCP_transparent_mosaic.tif
Raster Coords system: EPSG:32615
Grid Coords system: urn:ogc:def:crs:EPSG::32615
3/7 : 20180905_Lamberton_GCP_transparent_mosaic.tif
Raster Coords system: EPSG:32615
Grid Coords system: urn:ogc:def:crs:EPSG::32615
4/7 : 20180914_Lamberton_GCP_transparent_mosaic.tif
Raster Coords system: EPSG:32615
Grid Coords system: urn:ogc:def:crs:EPSG::32615
5/7 : 20180822_Lamberton_GCP_transparent_mosaic.tif
Raster Coords system: EPSG:32615
Grid Coords system: urn:ogc:def:crs:EPSG::32615
6/7 : 20180925_Lamberton_GCP_transparent_mosaic.tif
Raster Coords system: EPSG:32615
Grid Coords system: urn:ogc:def:crs:EPSG::32615
7/7 : 20180829_Lamberton_GCP_transparent_mosaic.tif
Raster Coords system: EPSG:32615
Grid Coords system: urn:ogc:def:crs:EPSG::32615

In [6]:
vuelos.ldata

    id      date         red       green       blue
0    1  20180815  121.831579  126.595538  59.382952
1    2  20180815  121.474371  128.774828  58.871510
2    3  20180815  126.370549  129.016797  63.183651
3    4  20180815  174.389170  158.036699  68.549026
4    5  20180815  142.689922  138.811870  71.183315
..  ..       ...         ...         ...        ...
35  36  20180829  188.956748  155.526947  66.954937
36  37  20180829  162.666079  147.658472  58.692537
37  38  20180829  185.320922  148.891290  77.936946
38  39  20180829  182.743783  150.730039  77.950153
39  40  20180829  160.595675  153.856431  63.284420

[280 rows x 5 columns]

In [7]:
import numpy as np

In [8]:
def VDVI_inex(df):
    red = np.mean(df['red'])
    green = np.mean(df['green'])
    blue = np.mean(df['blue'])

    return(2*green - red - blue)/(2*green + red + blue)

In [9]:
vuelos.generate_unique_feature(VDVI_inex,'VDVI',to_data=True)

In [10]:
import numpy as np
import pandas as pd

In [10]:
vuelos.ldata

     id      date         red       green       blue      VDVI
0     1  20180815  121.831579  126.595538  59.382952  0.165690
1     2  20180815  121.474371  128.774828  58.871510  0.176306
2     3  20180815  126.370549  129.016797  63.183651  0.152997
3     4  20180815  174.389170  158.036699  68.549026  0.130829
4     5  20180815  142.689922  138.811870  71.183315  0.129707
..   ..       ...         ...         ...        ...       ...
275  36  20180829  188.956748  155.526947  66.954937  0.097258
276  37  20180829  162.666079  147.658472  58.692537  0.143143
277  38  20180829  185.320922  148.891290  77.936946  0.061537
278  39  20180829  182.743783  150.730039  77.950153  0.072518
279  40  20180829  160.595675  153.856431  63.284420  0.157701

[280 rows x 6 columns]

In [11]:
vuelos.n_dates

7

In [12]:
vuelos.ldata.columns

Index(['id', 'date', 'red', 'green', 'blue', 'VDVI'], dtype='object')

In [14]:
vuelos.generate_unique_feature(VDVI_inex,'VDVI',to_data=False)

     id      date      VDVI
0     1  20180815  0.165690
1     2  20180815  0.176306
2     3  20180815  0.152997
3     4  20180815  0.130829
4     5  20180815  0.129707
..   ..       ...       ...
275  36  20180829  0.097258
276  37  20180829  0.143143
277  38  20180829  0.061537
278  39  20180829  0.072518
279  40  20180829  0.157701

[280 rows x 3 columns]

In [18]:
vuelos.ldata.loc[275,'VDVI_x']

0.09725847938267855

In [ ]:
assertRaises

In [29]:
for x in [1,2,3,4,5]:
    if x == 4:
        try:
            print(1-'3')
        except ValueError as e:
            print('hola') 
    else:
        print(x)

1
2
3

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [33]:
for x in [1,2,3,4,5]:
    if x == 4:
        try:
            raise ValueError('hola')
        except ValueError as e:
            print(e)
    else:
        print(x)

1
2
3
hola
5

In [35]:
vuelos['n_band']

KeyError: 'n_band'